.operation-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(146, 156, 163);
    max-width: 80%;
    max-height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 160px;
    box-shadow: 2px 3px black;
}